<div>
  <span>タイトル</span>
  <input v-model="name">
  <br>
  <span>働き方</span>
  <input type="checkbox" v-model="recordClasses[0]">
  <span>設計</span>
  <input type="checkbox" v-model="recordClasses[1]">
  <span>製造</span>
  <input type="checkbox" v-model="recordClasses[2]">
  <span>試験作成</span>
  <input type="checkbox" v-model="recordClasses[3]">
  <span>試験実施</span>
  <input type="checkbox" v-model="recordClasses[4]">
  <br>
  <span>内容</span>
  <textarea v-model="body"></textarea>
  <br>
  <input type="button" value="登録" v-on:click="regist">
  <table border="5">
    <tr>
      <th>名前</th>
      <th>働き方</th>
      <th>設計</th>
      <th>製造</th>
      <th>試験作成</th>
      <th>試験実施</th>
      <th>内容</th>
    </tr>
    <tr v-for="record in records">
      <td>{{ record.name }}</td>
      <td v-for="recordClass in record.recordClasses">{{ recordClass }}</td>
      <td>{{ record.body }}</td>
    </tr>
  </table>
</div>
